@import url('https://fonts.googleapis.com/css?family=Eagle+Lake');

body
{
    --ink-black: rgba(0, 0, 0, 0.8);
    --ink-red: rgba(255, 0, 0, 0.7);
    --weak-black: rgba(0,0,0, 0.2);
    --weak-red: rgba(255,0,0, 0.2);
    --invisible: rgba(0,0,0,0);
    background-color: beige;
    font-family: 'Eagle Lake', cursive;
    font-size: 0.9em;
    letter-spacing: -0.05em;
    word-spacing: 0.2em;
    margin: 0;
    color: var(--ink-black);
    text-shadow: 0 0 0.4em var(--weak-black);
    overflow: hidden;
    width: 100vw;
}
h3
{
    letter-spacing: 0;
    margin-top: 0.1em;
    margin-left: 0.5em;
    margin-bottom: 0.2em;
}
h3:first-letter
{
    color: var(--ink-red);
    text-shadow: 0 0 0.4em var(--weak-red);
    font-size: 125%;
    padding-right: 0.1em;
}
h5
{
    margin-top: 0.4em;
    margin-bottom: 0.1em;
}
#panels
{
    display: inline-block;
    white-space: nowrap;
    overflow-x: visible;
    overflow-y: hidden;
    transition: transform 0.3s;
}
.panel 
{
    display: inline-block;
    position: relative;
    vertical-align: top;
    white-space: normal;
    width: calc(100vw - 1.2em);
    height: calc(100vh - 0.8em);
    overflow-x: hidden;
    overflow-y: auto;
    padding: 0.4em;
    padding-right: 0.6em;
}
.panel::after
{
    display: table-cell;
    position: absolute;
    width: 0.2em;
    left: calc(100% - 0.2em);
    top: 0;
    margin: 10vh 0;
    height: 80vh;
    background: linear-gradient(to left, var(--invisible), var(--ink-red), var(--ink-red), var(--invisible));
    content: ' ';
}
@media (min-width: 36em)
{
    .panel 
    {
        width: 24em;
    }
}

.tab-bar
{
    display: flex;
    margin-top: 0.5em;
}
.tab
{
    color: var(--ink-red);
    text-shadow: 0 0 0.4em var(--weak-red);
    position: relative;
    flex: 1 1 auto;
    text-align: left;
    text-decoration: underline;
}
.tab.selected
{
    color: var(--ink-black);
    text-shadow: 0 0 0.4em var(--weak-black);
}
ul
{
    margin: 0;
    padding: 0;
    list-style-type: none;
}
ul li
{
    position: relative;
    padding: 0.5em 0.2em;
    margin-bottom: 0.15em;
}
ul li::before
{
    display: block;
    position: absolute;
    top: 14%;
    z-index: -1;
    background-color: none;
    width: calc(100% - 0.4em);
    height: 66%;
    content: " ";
    transition: background-color 0.5s ease-out;
}
ul li.selected::before
{
    background-color: var(--weak-red);
    transition: background-color 0.0s ease-out;
}
ul li::after
{
    display: block;
    position: relative;
    top: 0.65em;
    background: linear-gradient(var(--invisible), var(--ink-black), var(--ink-black), var(--invisible));
    margin: 0 calc(17% - 0.2em);
    width: 66%;
    height: 0.15em;
    content: " ";
}

.completions
{
    display: none;
    position: absolute;
    width: calc(100% - 1em);
    background-color: beige;
    box-shadow: 0 0.1em 0.4em;
    border-radius: 0.2em;
    z-index: 1;
}
.completions li
{
    padding: 0.1em 0.2em;
}
.completions li::after
{
    display: none;
}
:focus + .completions, .completions:hover
{
    display: block;
}
.stat
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
input
{
    width: 100%;
    background: none;
    border: none;
    border-bottom: solid 0.1em var(--ink-black);
    font-family: 'Eagle Lake', cursive;
    font-size: 1em;
    color: var(--ink-black);
}
input:disabled
{
    opacity: 0.3;
}